<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Cra" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Cra">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div style="color: green; padding: 10px; border: 1px solid green; margin-bottom: 10px;">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div style="color: red; padding: 10px; border: 1px solid red; margin-bottom: 10px;">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <header style="padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px solid #ccc;">
      <% if session[:user_id] %>
        <span>Welcome, Admin (<%= session[:user_email] %>)!</span>
        <%#= button_to "Logout", '/auth/logout', method: :get, form: { data: { turbo: false } } %>
        
        <%= link_to "Logout", '/auth/logout', data: { turbo: false } %>
      <% else %>
        <%= button_to "Login with Auth0", '/auth/auth0', method: :post, data: { turbo: false } %>
      <% end %>
    </header>

    <%= yield %>
  </body>
</html>
