
<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Cra" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Cra">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="header" class="card" style="margin: 1em 0 1em 0; display: flex;">
        <div><%= request.path %></div>
    </div>
    <div class="v-container">
        <div id="sidenav" class="card" style="margin: 0 1em 0 0;">
            <div class="button raised-accent-primary">
                <%= link_to "Courses", courses_path, style: "text-decoration: none; color: white;"%>
            </div>
            <div class="button raised-accent-primary">
                <%= link_to "Events", events_path, style: "text-decoration: none; color: white;"%>
            </div>
            <div class="button raised-accent-primary">
                <%= link_to "Reviews", reviews_path, style: "text-decoration: none; color: white;"%>
            </div>
            <div class="button raised-accent-primary">
                <%= link_to "Resources", resources_path, style: "text-decoration: none; color: white;"%>
            </div>
            <div class="button raised-accent-primary">
                <%= link_to "Logout", login_path, style: "text-decoration: none; color: white;"%>
            </div>
        </div>
        <div id="content" class="card" style="flex: 5 1; margin: 0 0 0 0">
            <%= yield %>
        </div>
    </div>
  </body>
</html>
